$amarelo: #ffdc00;
$font: "PT Sans", sans-serif;
$font-cor: #000000;
$font-cor-subtitulo: #2a353f;
$font-cor-texto: #545454;
$font-cor-texto-2: #8a8a8a;
$font-cor-contato: #f5f5f5;

@import url("https://fonts.googleapis.com/css?family=PT+Sans");

* {
  padding: 0;
  margin: 0;
  font-family: $font;
}

//corpo amarelo//
#cabecalho {
  position: absolute;
  height: 650px;
  width: 1349px;
  background-color: $amarelo;
}

//logo//
#logo {
  position: absolute;
  top: 50px;
  left: 250px;
  font-weight: bolder;
  font-size: 25px;
}

#tituloLogo {
  position: absolute;
  top: 5px;
  left: 50px;
  font-weight: bold;
  font-size: 25px;
  font-weight: bolder;
}

//menu//
#menu {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 860px;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

#menu ul li a:hover {
  color: #6d6d6d;
}

//texto ao lado do iPad//
.texto {
  position: absolute;
  top: 200px;
  left: 250px;
}

#titulo {
  font-weight: bolder;
}

#subtitulo {
  font-size: 20px;
  color: $font-cor-subtitulo;
}

#texto {
  color: $font-cor-texto;
}

//iPad//
#bordaIpad {
  position: absolute;
  top: 150px;
  left: 850px;
  border: solid #ffffff 2px;
  border-radius: 20px;
  background-color: #ffffff;
  height: 400px;
  width: 280px;
}

#telaIpad {
  position: absolute;
  top: 190px;
  left: 865px;
  border: solid #000000 2px;
  background-color: #000000;
  height: 320px;
  width: 250px;
}

#logoIpad {
  position: absolute;
  top: 310px;
  left: 920px;
}

#tituloIpad {
  color: $amarelo;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 315px;
  left: 970px;
}

//links para Download//
#apple {
  font-size: 50px;
  position: absolute;
  top: 450px;
  left: 250px;
}

#android {
  font-size: 50px;
  position: absolute;
  top: 450px;
  left: 330px;
}

#windows {
  font-size: 50px;
  position: absolute;
  top: 450px;
  left: 420px;
}

//detalhes do produto//
#featues {
  position: absolute;
  text-align: center;
  color: $font-cor;
  font-size: 15px;
  top: 750px;
  left: 250px;
}

#tituloFeatures {
  font-weight: bolder;
}

#subFeatures {
  font-weight: normal;
  color: $font-cor-subtitulo;
  font-size: 20px;
}

.textoFeatures {
  color: $font-cor-texto-2;
}

//Fully Responsive//
#responsive {
  position: absolute;
  color: $font-cor;
  font-size: 15px;
  top: 1000px;
  left: 250px;
}

#miniTablet {
  position: absolute;
  font-size: 50px;
  top: 1010px;
  left: 190px;
}

//Fully Layeres PSD//
#layered {
  position: absolute;
  color: $font-cor;
  font-size: 15px;
  top: 1000px;
  left: 600px;
}

#limão {
  position: absolute;
  font-size: 50px;
  top: 1010px;
  left: 530px;
}

//Font Awesome Icons//
#icons {
  position: absolute;
  color: $font-cor;
  font-size: 15px;
  top: 1000px;
  left: 950px;
}

#pasta {
  position: absolute;
  font-size: 50px;
  top: 1010px;
  left: 880px;
}

//HTML5 & CSS3//
#html3ecss3 {
  position: absolute;
  color: $font-cor;
  font-size: 15px;
  top: 1200px;
  left: 250px;
}

#html {
  position: absolute;
  font-size: 50px;
  top: 1200px;
  left: 175px;
}

//Email Template//
#emailTemplate {
  position: absolute;
  color: $font-cor;
  font-size: 15px;
  top: 1200px;
  left: 600px;
}

#envelope {
  position: absolute;
  font-size: 50px;
  top: 1200px;
  left: 530px;
}

//Free to download//
#freeToDownload {
  position: absolute;
  color: $font-cor;
  font-size: 15px;
  top: 1200px;
  left: 950px;
}

#marcaTexto {
  position: absolute;
  font-size: 50px;
  top: 1200px;
  left: 890px;
}

//corpo preto//
#rodape {
  position: absolute;
  top: 1500px;
  height: 800px;
  width: 1349px;
  background-color: #000;
}

//texto sobre inscrição//
#inscricao {
  position: absolute;
  text-align: center;
  font-size: 15px;
  top: 70px;
  left: 200px;
}

#tituloInscricao {
  color: $amarelo;
}

#subInscricao {
  color: $font-cor-texto-2;
  font-weight: normal;
}

//caixa de email//
input[type="text"],
input[type="submit"] {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  margin: 8px 0;
}

#email {
  border-radius: 5px;
  width: 700px;
  height: 50px;
  top: 300px;
  left: 200px;
  border: none;
  font-size: 20px;
}

#submit {
  background-color: $amarelo;
  border-radius: 5px;
  width: 220px;
  height: 50px;
  top: 300px;
  left: 920px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
}

//redes sociais//
#facebook {
  position: absolute;
  color: $amarelo;
  font-size: 50px;
  top: 420px;
  left: 500px;
}

#twitter {
  position: absolute;
  color: $amarelo;
  font-size: 50px;
  top: 420px;
  left: 620px;
}

#googlePlus {
  position: absolute;
  color: $amarelo;
  font-size: 50px;
  top: 420px;
  left: 720px;
}

#pinterest {
  position: absolute;
  color: $amarelo;
  font-size: 50px;
  top: 420px;
  left: 820px;
}

//links do rodapé//
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#contato1 {
  color: $font-cor-contato;
  position: absolute;
  top: 600px;
  left: 250px;
}

#contato2 {
  color: $font-cor-contato;
  position: absolute;
  top: 600px;
  left: 530px;
}

#contato3 {
  color: $font-cor-contato;
  position: absolute;
  top: 600px;
  left: 690px;
}

#contato4 {
  color: $font-cor-contato;
  position: absolute;
  top: 600px;
  left: 830px;
}

#contato5 {
  color: $font-cor-contato;
  position: absolute;
  top: 600px;
  left: 1000px;
}

@media only screen and (max-device-width: 480px) {

  #cabecalho {
    height: 650px;
    width: 480px;
  }

  #logo {
    top: 50px;
    left: 180px;
  }

  #tituloLogo {
    top: 5px;
    left: 50px;
  }

  #menu {
    top: 140px;
    left: 110px;
  }

  .texto {
    top: 200px;
    left: 50px;
  }

  #bordaIpad {
    display: none;
  }

  #telaIpad {
    display: none;
  }

  #logoIpad {
    display: none;
  }

  #tituloIpad {
    display: none;
  }

  #apple {
    top: 450px;
    left: 100px;
  }

  #android {
    top: 450px;
    left: 230px;
  }

  #windows {
    top: 450px;
    left: 350px;
  }

  #featues {
    top: 750px;
    left: 10px;
  }

  .textoFeatures {
    color: $font-cor-texto-2;
  }

  #responsive {
    top: 1000px;
    left: 180px;
  }

  #miniTablet {
    top: 1010px;
    left: 100px;
  }

  #layered {
    top: 1200px;
    left: 180px;
  }

  #limão {
    top: 1210px;
    left: 100px;
  }

  #icons {
    top: 1400px;
    left: 180px;
  }

  #pasta {
    top: 1410px;
    left: 80px;
  }

  #html3ecss3 {
    top: 1600px;
    left: 180px;
  }

  #html {
    top: 1610px;
    left: 100px;
  }

  #emailTemplate {
    top: 1800px;
    left: 180px;
  }

  #envelope {
    top: 1810px;
    left: 100px;
  }

  #freeToDownload {
    top: 2000px;
    left: 180px;
  }

  #marcaTexto {
    top: 2010px;
    left: 100px;
  }

  #rodape {
    top: 2200px;
    height: 800px;
    width: 480px;
  }

  #inscricao {
    top: 70px;
    left: 20px;
    right: 17px;
  }

  #email {
    width: 270px;
    height: 50px;
    top: 300px;
    left: 50px;
  }

  #submit {
    width: 100px;
    height: 50px;
    top: 300px;
    left: 330px;
  }

  #facebook {
    top: 420px;
    left: 100px;
  }

  #twitter {
    top: 420px;
    left: 180px;
  }

  #googlePlus {
    top: 420px;
    left: 260px;
  }

  #pinterest {
    top: 420px;
    left: 340px;
  }

  #contato1 {
    top: 550px;
    left: 50px;
  }

  #contato2 {
    top: 700px;
    left: 50px;
  }

  #contato3 {
    top: 700px;
    left: 160px;
  }

  #contato4 {
    top: 700px;
    left: 250px;
  }

  #contato5 {
    top: 700px;
    left: 360px;
  }
}

@media only screen and (min-width: 481px) and (max-device-width: 768px) {

  #cabecalho {
    height: 650px;
    width: 768px;
  }

  #logo {
    top: 50px;
    left: 50px;
  }

  #tituloLogo {
    top: 5px;
    left: 50px;
  }

  #menu {
    top: 60px;
    left: 480px;
  }

  .texto {
    top: 150px;
    left: 50px;
    right: 370px;
  }

  #bordaIpad {

    top: 150px;
    left: 450px;
  }

  #telaIpad {
    top: 190px;
    left: 465px;
  }

  #logoIpad {
    top: 310px;
    left: 520px;
  }

  #tituloIpad {
    top: 315px;
    left: 570px;
  }

  #apple {
    top: 470px;
    left: 50px;
  }

  #android {
    top: 470px;
    left: 180px;
  }

  #windows {
    top: 470px;
    left: 300px;
  }

  #featues {
    font-size: 15px;
    top: 750px;
    left: 100px;
    right: 100px;
  }

  #responsive {
    top: 1000px;
    left: 150px;
  }

  #miniTablet {
    top: 1010px;
    left: 80px;
  }

  #layered {
    top: 1000px;
    left: 470px;
  }

  #limão {
    top: 1010px;
    left: 400px;
  }

  #icons {
    top: 1200px;
    left: 150px;
  }

  #pasta {
    top: 1210px;
    left: 80px;
  }

  #html3ecss3 {
    top: 1200px;
    left: 470px;
  }

  #html {
    top: 1210px;
    left: 395px;
  }

  #emailTemplate {
    top: 1400px;
    left: 150px;
  }

  #envelope {
    top: 1410px;
    left: 80px;
  }

  #freeToDownload {
    top: 1400px;
    left: 470px;
  }

  #marcaTexto {
    top: 1410px;
    left: 410px;
  }

  #rodape {
    top: 1700px;
    height: 800px;
    width: 768px;
  }

  #inscricao {
    top: 70px;
    left: 20px;
    right: 10px;
  }

  #email {
    width: 500px;
    height: 50px;
    top: 300px;
    left: 80px;

  }

  #submit {
    width: 100px;
    height: 50px;
    top: 300px;
    left: 600px;

  }

  #facebook {
    top: 420px;
    left: 260px;
  }

  #twitter {
    top: 420px;
    left: 340px;
  }

  #googlePlus {
    top: 420px;
    left: 420px;
  }

  #pinterest {
    top: 420px;
    left: 500px;
  }

  #contato1 {
    top: 550px;
    left: 30px;
  }

  #contato2 {
    top: 550px;
    left: 280px;
  }
  
  #contato3 {
    top: 550px;
    left: 405px;
  }
  
  #contato4 {
    top: 550px;
    left: 520px;
  }
  
  #contato5 {
    top: 550px;
    left: 650px;
  }
}

@media only screen and (min-width: 769px) and (max-device-width: 1024px) {

  #cabecalho {
    height: 650px;
    width: 1024px;
  }

  #logo {
    top: 50px;
    left: 100px;
  }

  #tituloLogo {
    top: 5px;
    left: 50px;
  }

  #menu {
    top: 60px;
    left: 650px;
  }
 
  .texto {
    top: 150px;
    left: 100px;
    right: 370px;
  }

  #bordaIpad {
    top: 150px;
    left: 635px;
  }

  #telaIpad {
    top: 190px;
    left: 650px;
  }

  #logoIpad {
    top: 310px;
    left: 710px;
  }

  #tituloIpad {
    top: 315px;
    left:760px;
  }

  #apple {
    top: 470px;
    left: 100px;
  }

  #android {
    top: 470px;
    left: 200px;
  }

  #windows {

    top: 470px;
    left: 300px;
  }

  #featues {
    font-size: 15px;
    top: 750px;
    left: 100px;
    right: 100px;
  }

  #tituloFeatures {
    font-weight: bolder;
  }

  #subFeatures {
    font-weight: normal;
    color: $font-cor-subtitulo;
    font-size: 20px;
  }

  .textoFeatures {
    color: $font-cor-texto-2;
  }

  #responsive {
    position: absolute;
    color: $font-cor;
    font-size: 15px;
    top: 1000px;
    left: 150px;
  }

  #miniTablet {
    position: absolute;
    font-size: 50px;
    top: 1010px;
    left: 80px;
  }

  #layered {
    position: absolute;
    color: $font-cor;
    font-size: 15px;
    top: 1000px;
    left: 450px;
  }

  #limão {
    position: absolute;
    font-size: 50px;
    top: 1010px;
    left: 380px;
  }

  #icons {
    position: absolute;
    color: $font-cor;
    font-size: 15px;
    top: 1000px;
    left: 770px;
  }

  #pasta {
    position: absolute;
    font-size: 50px;
    top: 1010px;
    left: 690px;
  }

  #html3ecss3 {
    position: absolute;
    color: $font-cor;
    font-size: 15px;
    top: 1200px;
    left: 450px;
  }

  #html {
    position: absolute;
    font-size: 50px;
    top: 1210px;
    left: 375px;
  }

  #emailTemplate {
    position: absolute;
    color: $font-cor;
    font-size: 15px;
    top: 1200px;
    left: 150px;
  }

  #envelope {
    position: absolute;
    font-size: 50px;
    top: 1210px;
    left: 80px;
  }

  #freeToDownload {
    position: absolute;
    color: $font-cor;
    font-size: 15px;
    top: 1200px;
    left: 770px;
  }

  #marcaTexto {
    position: absolute;
    font-size: 50px;
    top: 1210px;
    left: 700px;
  }

  #rodape {
    top: 1400px;
    height: 800px;
    width: 1024px;
  }

  #inscricao {
    top: 70px;
    left: 20px;
    right: 10px;
  }

  #email {
    width: 700px;
    height: 50px;
    top: 300px;
    left: 80px;
  }

  #submit {
    width: 100px;
    height: 50px;
    top: 300px;
    left: 800px;
    border: none;
  }

  #facebook {
    top: 420px;
    left: 380px;
  }

  #twitter {
    top: 420px;
    left: 450px;
  }

  #googlePlus {
    top: 420px;
    left: 520px;
  }

  #pinterest {
    top: 420px;
    left: 590px;
  }

  #contato1 {
    top: 550px;
    left: 30px;
  }

  #contato2 {
    top: 550px;
    left: 380px;
  }
  
  #contato3 {
    top: 550px;
    left: 505px;
  }
  
  #contato4 {
    top: 550px;
    left: 620px;
  }
  
  #contato5 {

    top: 550px;
    left: 7 50px;
  }
}
